In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
#pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

### Cargo Topologia

In [2]:
# Cargo el archivo de topologia

topologia = pd.read_excel('../data/topologia_2.xlsx')

# Modificio las columnas a minusculas y sin espacios.

topologia.columns=[c.lower().replace(' ', '_') for c in topologia.columns]

# Convierto a csv los tickets

# topologia.to_csv('../data/pasajeros/topologia.csv', sep=',', index=False)

### Cargo Pasajeros

In [3]:
# Cargo el archivo de pasajero

passengers = pd.read_csv('../data/pasajeros/passengers.csv')

### Limpio topología

In [4]:
topologia.head()

,route_code_gmv,route,route_name,line_code,line_name,stop_order,stop_code_gmv,stop_name,stop_code_alsa,latitude,longitude
0,1,L1,L1 BAB CHELLAH-DOHA,103,BAB CHALLEH-DOHA,1,10005,Bab Chellah,73006,34.023298,-6.834576
1,1,L1,L1 BAB CHELLAH-DOHA,103,BAB CHALLEH-DOHA,2,10007,Bab Mellah,73008,34.025001,-6.829615
2,1,L1,L1 BAB CHELLAH-DOHA,103,BAB CHALLEH-DOHA,3,10044,Bab Khmiss,73046,34.036633,-6.817232
3,1,L1,L1 BAB CHELLAH-DOHA,103,BAB CHALLEH-DOHA,4,10046,Diar,73048,34.041434,-6.816444
4,1,L1,L1 BAB CHELLAH-DOHA,103,BAB CHALLEH-DOHA,5,10048,Mkinsiya,73050,34.044136,-6.817705

In [5]:
# Renombro las columnas

columnas3 = {'route_code_gmv': 'route_code', 'route': 'route_name', 'route_name': 'route_name_int', 'stop_code_gmv': 'stop_code', 'stop_code_alsa': 'stop_code_int'}

topologia = topologia.rename(columns=columnas3)

In [6]:
topologia = topologia.drop(['route_name_int'], axis=1)

In [7]:
topologia.line_name = topologia.line_name.fillna('AEROPORT-GARE AGDAL')

In [8]:
topologia = topologia.astype({"latitude": object, "longitude": object})

In [9]:
topologia.to_csv('../data/pasajeros/topologia2.csv', sep=',', index=False)

In [10]:
topologia2 = pd.read_csv('../data/pasajeros/topologia2.csv')

## Importar a SQL

In [11]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
# pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

import mysql.connector as conn
from sqlalchemy import create_engine

In [12]:
# Cargar lo que tengo dentro del .env

import os
from dotenv import load_dotenv
load_dotenv()

True

In [13]:
mysql = os.getenv("mysql")

In [14]:

db=conn.connect(host='localhost', user='root', passwd=mysql, database='transport_network')

cursor=db.cursor()

#  str_conn='mysql+pymysql://root:'+mysql+'@localhost:3306/nba_stats'
# motor=create_engine(str_conn)

#### TOPOLOGIA2

In [15]:
topologia2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2734 entries, 0 to 2733
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   route_code     2734 non-null   int64
 1   route_name     2734 non-null   object
 2   line_code      2734 non-null   int64
 3   line_name      2734 non-null   object
 4   stop_order     2734 non-null   int64
 5   stop_code      2734 non-null   int64
 6   stop_name      2734 non-null   object
 7   stop_code_int  2734 non-null   int64
 8   latitude       2734 non-null   float64
 9   longitude      2734 non-null   float64
dtypes: float64(2), int64(5), object(3)
memory usage: 213.7+ KB

In [16]:
# Crear tabla 'TOPOLOGY2'


cursor.execute('drop table if exists TOPOLOGY2;')

        
tabla='''

        create table TOPOLOGY2 (
            
            route_code int, 
            route_name varchar(55),
            line_code int,
            line_name varchar(55),
            stop_order int, 
            stop_code int, 
            stop_name varchar(55),
            stop_code_int int, 
            latitude varchar(55),
            longitude varchar(55)

        );


'''


cursor.execute(tabla)

In [17]:
#  insert into tabla (columnas) values (valores);

def insert(df, table):

    for i in range(len(df)):
        
        insert_query=f"insert into {table} ({','.join(df.columns)}) values {tuple(df.iloc[i].values)};"
    
        cursor.execute(insert_query)
    
    
    db.commit()
    print('Comiteado!')

In [18]:
# Cargo datos a 'TOPOLOGY2'

insert(topologia2, 'TOPOLOGY2')

Comiteado!

### Select

In [23]:
str_conn='mysql+pymysql://root:'+mysql+'@localhost:3306/transport_network'


motor=create_engine(str_conn)

In [24]:
def show_df(query):
                
        
        return pd.read_sql(query, motor)  # resumen

In [25]:
query = '''

select 

t.route_code,
t.route_name,
t.line_code,
t.line_name,
t.stop_order,
t.stop_code,
t.stop_name,
t.stop_code_int,
t.latitude,
t.longitude,
p.operation


from topology2 as t

left join passengers as p
on (t.route_code=p.route_code) and (t.line_code=p.line_code) and (t.stop_code=p.stop_code)
;

'''

In [26]:
show_df(query)

,route_code,route_name,line_code,line_name,stop_order,stop_code,stop_name,stop_code_int,latitude,longitude,operation
0,1,L1,103,BAB CHALLEH-DOHA,1,10005,Bab Chellah,73006,34.023297857493844,-6.834576333588406,ORDINAIRE
1,1,L1,103,BAB CHALLEH-DOHA,1,10005,Bab Chellah,73006,34.023297857493844,-6.834576333588406,ORDINAIRE
2,1,L1,103,BAB CHALLEH-DOHA,1,10005,Bab Chellah,73006,34.023297857493844,-6.834576333588406,ORDINAIRE
3,1,L1,103,BAB CHALLEH-DOHA,1,10005,Bab Chellah,73006,34.023297857493844,-6.834576333588406,ORDINAIRE
4,1,L1,103,BAB CHALLEH-DOHA,1,10005,Bab Chellah,73006,34.023297857493844,-6.834576333588406,ORDINAIRE
...,...,...,...,...,...,...,...,...,...,...,...
1477223,903,L37B,202,MASSIRA-YOUSSEFIA,3,10765,MILANO-V,73767,33.92632933433031,-6.89395939834915,Transfer
1477224,903,L37B,202,MASSIRA-YOUSSEFIA,3,10765,MILANO-V,73767,33.92632933433031,-6.89395939834915,Transfer
1477225,903,L37B,202,MASSIRA-YOUSSEFIA,3,10765,MILANO-V,73767,33.92632933433031,-6.89395939834915,Validation
1477226,903,L37B,202,MASSIRA-YOUSSEFIA,3,10765,MILANO-V,73767,33.92632933433031,-6.89395939834915,Validation
1477227,903,L37B,202,MASSIRA-YOUSSEFIA,3,10765,MILANO-V,73767,33.92632933433031,-6.89395939834915,Transfer

In [29]:
query = '''

select 

t.route_code,
t.route_name,
t.line_code,
t.line_name,
t.stop_order,
t.stop_code,
t.stop_name,
t.stop_code_int,
t.latitude,
t.longitude,
p.operation


from topology2 as t

join passengers as p
on (t.route_code=p.route_code) and (t.line_code=p.line_code) and (t.stop_code=p.stop_code)
;
'''

In [30]:
show_df(query)

,route_code,route_name,line_code,line_name,stop_order,stop_code,stop_name,stop_code_int,latitude,longitude,operation
0,5,L5,102,THEÄTRE-SIDI ABDELLA,1,10069,Théàtre-V,73071,34.021243230840504,-6.833110134590666,ORDINAIRE
1,5,L5,102,THEÄTRE-SIDI ABDELLA,1,10069,Théàtre-V,73071,34.021243230840504,-6.833110134590666,ORDINAIRE
2,5,L5,102,THEÄTRE-SIDI ABDELLA,1,10069,Théàtre-V,73071,34.021243230840504,-6.833110134590666,ORDINAIRE
3,5,L5,102,THEÄTRE-SIDI ABDELLA,1,10069,Théàtre-V,73071,34.021243230840504,-6.833110134590666,ORDINAIRE
4,5,L5,102,THEÄTRE-SIDI ABDELLA,1,10069,Théàtre-V,73071,34.021243230840504,-6.833110134590666,ORDINAIRE
...,...,...,...,...,...,...,...,...,...,...,...
1476928,201,L201,202,"TECHNOPOLIS-ZERDAL,",32,12108,Cartier Bendaoud,74523,34.0611331254953,-6.7832043647191815,Validation
1476929,201,L201,202,"TECHNOPOLIS-ZERDAL,",32,12108,Cartier Bendaoud,74523,34.0611331254953,-6.7832043647191815,Validation
1476930,104,L104,102,HY EL FATH-YOUSSEFIA,24,10738,Av.Al Haouz-V,73740,33.984207811921046,-6.824798808814499,Validation
1476931,201,L201,202,"TECHNOPOLIS-ZERDAL,",19,10719,PREFECTURE-V,73721,34.02759389504173,-6.763315280776805,Validation
1476932,201,L201,202,"TECHNOPOLIS-ZERDAL,",21,10550,HAY MOULAY ISMAIL-V,73552,34.030985805188905,-6.778896868015387,Validation