In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
#pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

## Cargo datos

In [2]:
# Cargo de datos del excel

'''stop = pd.read_excel('../data/selectsvistas/VIEW_TOPOLOGY_STOPS.xlsx')
fleet = pd.read_excel('../data/selectsvistas/view_FLEETS.xlsx')
lines_version = pd.read_excel('../data/selectsvistas/VIEW_TOPOLOGY_LINES_VERSION.xlsx')
stops_routes = pd.read_excel('../data/selectsvistas/VIEW_TOPOLOGY_STOPS_ROUTES.xlsx')
stops_version = pd.read_excel('../data/selectsvistas/VIEW_TOPOLOGY_STOPS_VERSION.xlsx')
lines = pd.read_excel('../data/selectsvistas/VIEW_TOPOOGY_LINES.xlsx')
routes = pd.read_excel('../data/selectsvistas/VIEW_TOPOOGY_ROUTES.xlsx')
vehicles = pd.read_excel('../data/selectsvistas/VIEW_VEHICLES.xlsx')'''

# Exporto a csv para leer mas rápido

'''# Exporto a csv

stop.to_csv('../data/topologia_lineas/stop.csv', sep=',', index=False)
fleet.to_csv('../data/topologia_lineas/fleet.csv', sep=',', index=False)
lines_version.to_csv('../data/topologia_lineas/lines_version.csv', sep=',', index=False)
stops_routes.to_csv('../data/topologia_lineas/stops_routes.csv', sep=',', index=False)
stops_version.to_csv('../data/topologia_lineas/stops_version.csv', sep=',', index=False)
lines.to_csv('../data/topologia_lineas/lines.csv', sep=',', index=False)
routes.to_csv('../data/topologia_lineas/routes.csv', sep=',', index=False)
vehicles.to_csv('../data/topologia_lineas/vehicles.csv', sep=',', index=False)
'''

"# Exporto a csv\n\nstop.to_csv('../data/topologia_lineas/stop.csv', sep=',', index=False)\nfleet.to_csv('../data/topologia_lineas/fleet.csv', sep=',', index=False)\nlines_version.to_csv('../data/topologia_lineas/lines_version.csv', sep=',', index=False)\nstops_routes.to_csv('../data/topologia_lineas/stops_routes.csv', sep=',', index=False)\nstops_version.to_csv('../data/topologia_lineas/stops_version.csv', sep=',', index=False)\nlines.to_csv('../data/topologia_lineas/lines.csv', sep=',', index=False)\nroutes.to_csv('../data/topologia_lineas/routes.csv', sep=',', index=False)\nvehicles.to_csv('../data/topologia_lineas/vehicles.csv', sep=',', index=False)\n"

In [3]:
# Leo todos los csv

stops = pd.read_csv('../data/topologia_lineas/stop.csv')
fleet = pd.read_csv('../data/topologia_lineas/fleet.csv')
lines_version = pd.read_csv('../data/topologia_lineas/lines_version.csv')
stops_routes = pd.read_csv('../data/topologia_lineas/stops_routes.csv')
stops_version = pd.read_csv('../data/topologia_lineas/stops_version.csv')
lines = pd.read_csv('../data/topologia_lineas/lines.csv')
routes = pd.read_csv('../data/topologia_lineas/routes.csv')
vehicles = pd.read_csv('../data/topologia_lineas/vehicles.csv')

## STOPS

Tabla de paradas donde están latitudes y longitudes, la **Primary Key** es **`StopId`**

In [4]:
# Elimino todos los duplicados entre 'LineId','RouteId','StopId', para quedarme con la última version de la parada.

stops = stops.drop_duplicates(subset='StopId', keep='last')

In [5]:
# Me cargo la columna Stopversion 

stops = stops.drop('StopsVersion', axis=1)

In [6]:
stops.Description = stops.Description.fillna('NULL')

In [7]:
stops.head()

,StopId,Name,ShortName,Description,Latitude,Longitude
125,1,El Hassania Terminus V,70413,El Hassania Terminus V,3369939.0,436438.0
252,2,El Hassania Stade,70410,El Hassania Stade,3369690.0,436560.0
379,3,Cimenterie Anza,70260,Cimenterie Anza,3368808.0,436831.0
505,5,Place Taddart,70789,Place Taddart,3369918.0,438141.0
632,7,Taddart 1,70919,Taddart 1,3370217.0,438798.0

## STOPS_ROUTES

Tabla intermedia entre stops y routes, con **foreing keys** **`RouteId`** y **`StopId`**

Revisar si elimino `LineId`

In [8]:
# Elimino todos los duplicados entre 'LineId','RouteId','StopId', para quedarme con la última version de la ruta.

stops_routes = stops_routes.drop_duplicates(subset=['LineId','RouteId','StopId'], keep='last')

In [9]:
# Me cargo la columna StopsRoutesVersion y LineId

stops_routes = stops_routes.drop('StopsRoutesVersion', axis=1)
stops_routes = stops_routes.drop('LineId', axis=1)

In [10]:
stops_routes.head()

    RouteId  StopId  OrderInRoute  DistanceToFirstStop
0        11     788             0             0.000000
6        11      26             0             0.000000
7        11     890             1             0.000000
13       11     111             1             0.439023
14       11     678             2             2.000000

## ROUTES

Tabla de rutas donde **`RutasID`** es **Primary Key** y **`LineId`** es la **Foreing Key**

In [11]:
# Elimino todos los duplicados entre 'RouteId','LineId','PublicCode', para quedarme con la última version de la ruta.

routes = routes.drop_duplicates(subset=['RouteId','LineId','PublicCode'], keep='last')

In [12]:
# Creo un nuevo Primary Key como 'RutasID'

routes.RoutesVersion = np.arange(routes.shape[0])

routes.rename(columns = {'RoutesVersion':'RutasId'}, inplace = True)

In [13]:
routes.head()

,RutasId,RouteId,LineId,PublicCode,Name,Direction
6,0,11,1,101,MOUQUAOUAMA SUD-HOPITAL,1
13,1,12,1,102,HOPITAL-MOUQUAOUMA SUD,2
14,2,21,1,111,BACHAOUIA - KOLEA T.,1
67,3,11,2,101,WILAYA JARDIN - AIT EL MOUDEN,1
120,4,12,2,102,AIT EL MOUDEN - WILAYA JARDIN,2

## LINES

Tabla de lineas donde **`LineId`** es la **Primary key** y donde **`FleetId`** es la **Foreing key**

In [14]:
# Elimino todos los duplicados entre 'RouteId','LineId','PublicCode', para quedarme con la última version de la ruta.

lines = lines.drop_duplicates(subset=['LineId'], keep='last')

In [15]:
# Me cargo la columna LinesVersion

lines = lines.drop('LinesVersion', axis=1)

In [16]:
lines.head()

,LineId,FleetId,PublicCode,Name
6,1,1,L1,6631|L1 MOUQUAOUAMA SUD INBIAT - HOPITAL HASSA...
59,2,1,L2,6632|L2 WILAYA - HAY MOHAMMEDI
112,3,1,L3,6633|L3 WILAYA VALLEE - ELHOUDA
119,4,1,L4,6634|L4 MOUQUAOUAMA SUD INBIAT - EL HASSANIA ANZA
172,5,1,L5,6635|L5 WILAYA VALLEE - DRARGA

## FLEETS

Tabla de la delegación de la flota **`FleetId`** es la **Primary key**

In [17]:
fleet.head()

   FleetId   FleetName  FleetNumber
0        1  669|Agadir           65
1        2   662|Rabat           66

## VEHICLES

Tabla de detalle de vehículos **`FleetId`** es la **Primary key**

In [18]:
vehicles.head()

   VehicleId  VehicleCode  FleetId       Plate        Model
0          1         9501        1  59697-A-33  K230 UB 4X2
1          2         9502        1  59675-A-33  K230 UB 4X2
2          3         9503        1  59691-A-33  K230 UB 4X2
3          4         9504        1  59868-A-33    K94UB 4X2
4          5         9505        1  59123-A-33  K230 UB 4X2

## Exporto datos

In [19]:
# Exporto a csv los archivos modificados para cargar en base de datos.

stops.to_csv('../data/red_transporte/stops.csv', sep=',', index=False)
fleet.to_csv('../data/red_transporte/fleet.csv', sep=',', index=False)
stops_routes.to_csv('../data/red_transporte/stops_routes.csv', sep=',', index=False)
lines.to_csv('../data/red_transporte/lines.csv', sep=',', index=False)
routes.to_csv('../data/red_transporte/routes.csv', sep=',', index=False)
vehicles.to_csv('../data/red_transporte/vehicles.csv', sep=',', index=False)