In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
#pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

In [13]:
# Leo todos los csv de la parte de tarjetas

etudiant = pd.read_csv('../data/tarjetas/Validaciones_titulo_1020.csv', sep=';')
eleve = pd.read_csv('../data/tarjetas/Validaciones_titulo_1022.csv', sep=';')
ita = pd.read_csv('../data/tarjetas/Validaciones_titulo_1033.csv', sep=';')
pass_spsm = pd.read_csv('../data/tarjetas/Validaciones_titulo_3001.csv', sep=';')
pass_ecole_jardinage = pd.read_csv('../data/tarjetas/Validaciones_titulo_3002.csv', sep=';')
pass_baplm = pd.read_csv('../data/tarjetas/Validaciones_titulo_3003.csv', sep=';')
carte_employee = pd.read_csv('../data/tarjetas/Validaciones_titulo_6020.csv', sep=';')

In [24]:
# Concateno todos los dataframes

cards = pd.concat([etudiant, eleve, ita, pass_spsm, pass_ecole_jardinage, pass_baplm, carte_employee])

In [26]:
# Leo todos los csv de la parte de tarjetas

lunes = pd.read_csv('../data/tarjetas/Validaciones_titulo_1020.csv', sep=';')
martes = pd.read_csv('../data/tarjetas/Validaciones_titulo_1022.csv', sep=';')
miercoles = pd.read_csv('../data/tarjetas/Validaciones_titulo_1033.csv', sep=';')
jueves = pd.read_csv('../data/tarjetas/Validaciones_titulo_3001.csv', sep=';')
viernes = pd.read_csv('../data/tarjetas/Validaciones_titulo_3002.csv', sep=';')
sabado = pd.read_csv('../data/tarjetas/Validaciones_titulo_3003.csv', sep=';')
domingo = pd.read_csv('../data/tarjetas/Validaciones_titulo_6020.csv', sep=';')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1383902 entries, 0 to 131451
Data columns (total 18 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DATE            1383902 non-null  object
 1   CARD NUMBER     1383902 non-null  int64
 2   OPERATION       1383902 non-null  object
 3   BUS             1383902 non-null  int64
 4   MACHINE         1383902 non-null  int64
 5   DRIVER          1383902 non-null  int64
 6   SETTLEMENT      1383902 non-null  object
 7   ROUTE           1383902 non-null  int64
 8   ROUTE NAME      1383902 non-null  object
 9   LINE            1383902 non-null  int64
 10  LINE NAME       1383902 non-null  object
 11  WAYBILL         1383902 non-null  object
 12  STOP            1383902 non-null  int64
 13  CARD TITLE      1383902 non-null  int64
 14  CARD TYPE       1383902 non-null  object
 15  FARE            1383902 non-null  float64
 16  FECHA INICIO    0 non-null        float64
 17  FECHACADUCIDAD  0 non-null        float64
dtypes: float64(3), int64(8), object(7)
memory usage: 765.2 MB

## Limpieza de datos

In [50]:
cards.head()

,date,card_number,operation,bus,machine,driver,settlement,route,route_name,line,line_name,waybill,stop,card_title,card_type,fare,fecha_inicio,fechacaducidad
0,2022-03-21 05:59:28.000,43230192,Entry validation,30064,5773,2114,AA01621,8,L8,203,AIN AOUDA-HIZB EL ES,AA09101,11670,1020,Etudiant,0.0,NaN,NaN
1,2022-03-21 06:03:51.000,18701088,Entry validation,30018,5828,1945,AA01567,38,L38,205,TAMESSNA-BAB EL HAD,AA08462,10429,1020,Etudiant,0.0,NaN,NaN
2,2022-03-21 06:18:53.000,2443413712,Entry validation,30292,5677,1611,AA01360,9,L9,102,KARIA-KAMRA,AA09919,10986,1020,Etudiant,0.0,NaN,NaN
3,2022-03-21 06:19:43.000,3472759179,Entry validation,30269,5723,2077,AA01558,303,L303,202,AIN AOUDA-CHIGA,AA08470,11846,1020,Etudiant,0.0,NaN,NaN
4,2022-03-21 06:19:48.000,3862394236,Entry validation,30158,5553,596,AA01767,8,L8,203,AIN AOUDA-HIZB EL ES,AA10900,11602,1020,Etudiant,0.0,NaN,NaN

In [49]:
# Cambio los nombres de las columna sin espacios y a minusculas.

cards.columns=[c.lower().replace(' ', '_') for c in cards.columns]

In [53]:
# Elimino las columnas que no quiero

cards = cards.drop(['fecha_inicio', 'fechacaducidad'], axis=1)

In [54]:
# Cambio el formato a de fecha a datetime64

cards.date = cards.date.astype('datetime64[ns]')

In [62]:
# Me quedo con fecha inferiores al '2022-03-28'

cards =cards[cards.date < '2022-03-28']

In [64]:
cards.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229577 entries, 0 to 1269680
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         229577 non-null  datetime64[ns]
 1   card_number  229577 non-null  int64
 2   operation    229577 non-null  object
 3   bus          229577 non-null  int64
 4   machine      229577 non-null  int64
 5   driver       229577 non-null  int64
 6   settlement   229577 non-null  object
 7   route        229577 non-null  int64
 8   route_name   229577 non-null  object
 9   line         229577 non-null  int64
 10  line_name    229577 non-null  object
 11  waybill      229577 non-null  object
 12  stop         229577 non-null  int64
 13  card_title   229577 non-null  int64
 14  card_type    229577 non-null  object
 15  fare         229577 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(8), object(6)
memory usage: 107.7 MB

In [29]:
'''cards.to_csv('../data/tarjetas/cards.csv', sep=',', index=False)

cards = pd.read_csv('../data/tarjetas/cards.csv')'''