In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
#pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

## Cargo los archivos

#### Cargo tarjetas

In [ ]:
'''# Leo todos los csv de la parte de tarjetas

etudiant = pd.read_csv('../data/tarjetas/Validaciones_titulo_1020.csv', sep=';')
eleve = pd.read_csv('../data/tarjetas/Validaciones_titulo_1022.csv', sep=';')
ita = pd.read_csv('../data/tarjetas/Validaciones_titulo_1033.csv', sep=';')
pass_spsm = pd.read_csv('../data/tarjetas/Validaciones_titulo_3001.csv', sep=';')
pass_ecole_jardinage = pd.read_csv('../data/tarjetas/Validaciones_titulo_3002.csv', sep=';')
pass_baplm = pd.read_csv('../data/tarjetas/Validaciones_titulo_3003.csv', sep=';')
carte_employee = pd.read_csv('../data/tarjetas/Validaciones_titulo_6020.csv', sep=';')

# Concateno todos los dataframes de tarjetas

cards = pd.concat([etudiant, eleve, ita, pass_spsm, pass_ecole_jardinage, pass_baplm, carte_employee])

# Convierto a csv los tarjetas

cards.to_csv('../data/tarjetas/cards.csv', sep=',', index=False)'''

In [3]:
# Cargo los csv de tickets

cards = pd.read_csv('../data/tarjetas/cards.csv')

In [4]:
cards.head()

,DATE,CARD NUMBER,OPERATION,BUS,MACHINE,DRIVER,SETTLEMENT,ROUTE,ROUTE NAME,LINE,LINE NAME,WAYBILL,STOP,CARD TITLE,CARD TYPE,FARE,FECHA INICIO,FECHACADUCIDAD
0,2022-03-21 05:59:28.000,43230192,Entry validation,30064,5773,2114,AA01621,8,L8,203,AIN AOUDA-HIZB EL ES,AA09101,11670,1020,Etudiant,0.0,NaN,NaN
1,2022-03-21 06:03:51.000,18701088,Entry validation,30018,5828,1945,AA01567,38,L38,205,TAMESSNA-BAB EL HAD,AA08462,10429,1020,Etudiant,0.0,NaN,NaN
2,2022-03-21 06:18:53.000,2443413712,Entry validation,30292,5677,1611,AA01360,9,L9,102,KARIA-KAMRA,AA09919,10986,1020,Etudiant,0.0,NaN,NaN
3,2022-03-21 06:19:43.000,3472759179,Entry validation,30269,5723,2077,AA01558,303,L303,202,AIN AOUDA-CHIGA,AA08470,11846,1020,Etudiant,0.0,NaN,NaN
4,2022-03-21 06:19:48.000,3862394236,Entry validation,30158,5553,596,AA01767,8,L8,203,AIN AOUDA-HIZB EL ES,AA10900,11602,1020,Etudiant,0.0,NaN,NaN

#### Cargo tickets

In [5]:
'''# Leo todos los csv de la parte de tickets

lunes = pd.read_excel('../data/billetes/Billetes_21032022.xlsx')
martes = pd.read_excel('../data/billetes/Billetes_22032022.xlsx')
miercoles = pd.read_excel('../data/billetes/Billetes_23032022.xlsx')
jueves = pd.read_excel('../data/billetes/Billetes_24032022.xlsx')
viernes = pd.read_excel('../data/billetes/Billetes_25032022.xlsx')
sabado = pd.read_excel('../data/billetes/Billetes_26032022.xlsx')
domingo = pd.read_excel('../data/billetes/Billetes_27032022.xlsx')

# Función para modificar el nombre de las columnas

def rename_columns(lista):
    
    for file in lista:
        
        file.columns=[c.lower().replace(' ', '_') for c in file.columns]
    
    df = pd.concat([lunes, martes, miercoles, jueves, viernes, sabado, domingo])
    
    return df

# llamo a la función para modificar las columnas

dias = [lunes, martes, miercoles, jueves, viernes, sabado, domingo]

tickets = rename_columns(dias)

# Convierto a csv los tickets

tickets.to_csv('../data/billetes/tickets.csv', sep=',', index=False)'''

"# Leo todos los csv de la parte de tickets\n\nlunes = pd.read_excel('../data/billetes/Billetes_21032022.xlsx')\nmartes = pd.read_excel('../data/billetes/Billetes_22032022.xlsx')\nmiercoles = pd.read_excel('../data/billetes/Billetes_23032022.xlsx')\njueves = pd.read_excel('../data/billetes/Billetes_24032022.xlsx')\nviernes = pd.read_excel('../data/billetes/Billetes_25032022.xlsx')\nsabado = pd.read_excel('../data/billetes/Billetes_26032022.xlsx')\ndomingo = pd.read_excel('../data/billetes/Billetes_27032022.xlsx')\n\n# Función para modificar el nombre de las columnas\n\ndef rename_columns(lista):\n    \n    for file in lista:\n        \n        file.columns=[c.lower().replace(' ', '_') for c in file.columns]\n    \n    df = pd.concat([lunes, martes, miercoles, jueves, viernes, sabado, domingo])\n    \n    return df\n\n# llamo a la función para modificar las columnas\n\ndias = [lunes, martes, miercoles, jueves, viernes, sabado, domingo]\n\ntickets = rename_columns(dias)\n\n# Convierto a csv los tickets\n\ntickets.to_csv('../data/billetes/tickets.csv', sep=',', index=False)"

In [6]:
# Cargo los csv de tickets

tickets = pd.read_csv('../data/billetes/tickets.csv')

In [16]:
tickets.head()

,bus,conductor,maquina,liquidacion,fecha,tarifa,nombretarifa,precio,billete,linea,trayecto,parada
0,30037,8888,5573,AA01731,2022-03-21 00:02:31.000,1,ORDINAIRE,5000,AI26354,5,102,10069
1,30037,8888,5573,AA01731,2022-03-21 00:02:33.000,1,ORDINAIRE,5000,AI26355,5,102,10069
2,30037,8888,5573,AA01731,2022-03-21 00:02:34.000,1,ORDINAIRE,5000,AI26356,5,102,10069
3,30037,8888,5573,AA01731,2022-03-21 00:02:36.000,1,ORDINAIRE,5000,AI26357,5,102,10069
4,30037,8888,5573,AA01731,2022-03-21 00:02:37.000,1,ORDINAIRE,5000,AI26358,5,102,10069

#### Cargo Topologia

In [24]:
topologia = pd.read_csv('../data/red_transporte/topologia.csv')

In [25]:
topologia.head()

,Route code gmv,Route,Route Name,Line code,Line Name,Stop Order,Stop Code GMV,Stop Name,Stop Code Alsa,Latitude,Longitude
0,1,L1,L1 BAB CHELLAH-DOHA,103,BAB CHALLEH-DOHA,1,10005,Bab Chellah,73006,"34,02329786","-6,834576334"
1,1,L1,L1 BAB CHELLAH-DOHA,103,BAB CHALLEH-DOHA,2,10007,Bab Mellah,73008,"34,02500069","-6,829615092"
2,1,L1,L1 BAB CHELLAH-DOHA,103,BAB CHALLEH-DOHA,3,10044,Bab Khmiss,73046,"34,03663288","-6,817232328"
3,1,L1,L1 BAB CHELLAH-DOHA,103,BAB CHALLEH-DOHA,4,10046,Diar,73048,"34,04143426","-6,816443938"
4,1,L1,L1 BAB CHELLAH-DOHA,103,BAB CHALLEH-DOHA,5,10048,Mkinsiya,73050,"34,04413576","-6,817705018"

## Limpieza de datos

#### Limpieza Cards

In [8]:
# Cambio los nombres de las columna sin espacios y a minusculas.

cards.columns=[c.lower().replace(' ', '_') for c in cards.columns]

In [9]:
# Elimino las columnas que no quiero

cards = cards.drop(['fecha_inicio', 'fechacaducidad'], axis=1)

In [10]:
# Cambio el formato a de fecha a datetime64

cards.date = cards.date.astype('datetime64[ns]')

In [11]:
# Me quedo con fecha inferiores al '2022-03-28'

cards =cards[cards.date < '2022-03-28']

In [12]:
cards.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229577 entries, 0 to 1269680
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         229577 non-null  datetime64[ns]
 1   card_number  229577 non-null  int64
 2   operation    229577 non-null  object
 3   bus          229577 non-null  int64
 4   machine      229577 non-null  int64
 5   driver       229577 non-null  int64
 6   settlement   229577 non-null  object
 7   route        229577 non-null  int64
 8   route_name   229577 non-null  object
 9   line         229577 non-null  int64
 10  line_name    229577 non-null  object
 11  waybill      229577 non-null  object
 12  stop         229577 non-null  int64
 13  card_title   229577 non-null  int64
 14  card_type    229577 non-null  object
 15  fare         229577 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(8), object(6)
memory usage: 107.7 MB

#### Limpieza Tickets

In [17]:
tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251553 entries, 0 to 1251552
Data columns (total 12 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   bus           1251553 non-null  int64
 1   conductor     1251553 non-null  int64
 2   maquina       1251553 non-null  int64
 3   liquidacion   1251553 non-null  object
 4   fecha         1251553 non-null  object
 5   tarifa        1251553 non-null  int64
 6   nombretarifa  1251553 non-null  object
 7   precio        1251553 non-null  int64
 8   billete       1251553 non-null  object
 9   linea         1251553 non-null  int64
 10  trayecto      1251553 non-null  int64
 11  parada        1251553 non-null  int64
dtypes: int64(8), object(4)
memory usage: 114.6+ MB