In [3]:
import pandas as pd

## Cargo datos

In [18]:
'''stop = pd.read_excel('../data/selectsvistas/VIEW_TOPOLOGY_STOPS.xlsx')
fleet = pd.read_excel('../data/selectsvistas/view_FLEETS.xlsx')
lines_version = pd.read_excel('../data/selectsvistas/VIEW_TOPOLOGY_LINES_VERSION.xlsx')
stops_routes = pd.read_excel('../data/selectsvistas/VIEW_TOPOLOGY_STOPS_ROUTES.xlsx')
stops_version = pd.read_excel('../data/selectsvistas/VIEW_TOPOLOGY_STOPS_VERSION.xlsx')
lines = pd.read_excel('../data/selectsvistas/VIEW_TOPOOGY_LINES.xlsx')
routes = pd.read_excel('../data/selectsvistas/VIEW_TOPOOGY_ROUTES.xlsx')
vehicles = pd.read_excel('../data/selectsvistas/VIEW_VEHICLES.xlsx')'''

In [4]:
# Leo todos los csv

stop = pd.read_csv('../data/topologia_lineas/stop.csv')
fleet = pd.read_csv('../data/topologia_lineas/fleet.csv')
lines_version = pd.read_csv('../data/topologia_lineas/lines_version.csv')
stops_routes = pd.read_csv('../data/topologia_lineas/stops_routes.csv')
stops_version = pd.read_csv('../data/topologia_lineas/stops_version.csv')
lines = pd.read_csv('../data/topologia_lineas/lines.csv')
routes = pd.read_csv('../data/topologia_lineas/routes.csv')
vehicles = pd.read_csv('../data/topologia_lineas/vehicles.csv')

## STOP

In [10]:
stop.head()

,StopsVersion,StopId,Name,ShortName,Description,Latitude,Longitude
125,138,1,El Hassania Terminus V,70413,El Hassania Terminus V,3369939.0,436438.0
252,138,2,El Hassania Stade,70410,El Hassania Stade,3369690.0,436560.0
379,138,3,Cimenterie Anza,70260,Cimenterie Anza,3368808.0,436831.0
505,138,5,Place Taddart,70789,Place Taddart,3369918.0,438141.0
632,138,7,Taddart 1,70919,Taddart 1,3370217.0,438798.0

In [11]:
stop.StopsVersion.max()

138

In [12]:
# Me quedo con la última versión

stop = stop[stop.StopsVersion == 138]

In [13]:
len(stop) == len(stop.StopId.unique())

True

In [17]:
# Me cargo la columna Stopversion

stop = stop.drop('StopsVersion', axis=1)

In [18]:
stop.head()

,StopId,Name,ShortName,Description,Latitude,Longitude
125,1,El Hassania Terminus V,70413,El Hassania Terminus V,3369939.0,436438.0
252,2,El Hassania Stade,70410,El Hassania Stade,3369690.0,436560.0
379,3,Cimenterie Anza,70260,Cimenterie Anza,3368808.0,436831.0
505,5,Place Taddart,70789,Place Taddart,3369918.0,438141.0
632,7,Taddart 1,70919,Taddart 1,3370217.0,438798.0

## STOPS_ROUTES

In [21]:
stops_routes.head(20)

,StopsRoutesVersion,LineId,RouteId,StopId,OrderInRoute,DistanceToFirstStop
0,1,1,11,788,0,0.000000
1,2,1,11,26,0,0.000000
2,3,1,11,26,0,0.000000
3,4,1,11,26,0,0.000000
4,5,1,11,26,0,0.000000
5,6,1,11,26,0,0.000000
6,7,1,11,26,0,0.000000
7,1,1,11,890,1,0.000000
8,2,1,11,111,1,0.439023
9,3,1,11,111,1,0.439023
10,4,1,11,111,1,0.439023
11,5,1,11,111,1,0.439023
12,6,1,11,111,1,0.439023
13,7,1,11,111,1,0.439023
14,1,1,11,678,2,2.000000
15,2,1,11,1104,2,0.653024
16,3,1,11,1104,2,0.653024
17,4,1,11,1104,2,0.653024
18,5,1,11,1104,2,0.653024
19,6,1,11,1104,2,0.653024

In [23]:
stops_routes.drop_duplicates(subset=['LineId','RouteId','StopId'], keep='last')

,StopsRoutesVersion,LineId,RouteId,StopId,OrderInRoute,DistanceToFirstStop
0,1,1,11,788,0,0.000000
6,7,1,11,26,0,0.000000
7,1,1,11,890,1,0.000000
13,7,1,11,111,1,0.439023
14,1,1,11,678,2,2.000000
...,...,...,...,...,...,...
403952,55,464,12,2296,13,3.307455
403953,55,464,12,2298,14,3.569465
403954,55,464,12,2300,15,4.027790
403955,55,464,12,2152,16,5.436933
403956,55,464,12,2302,17,5.748677

In [22]:
stops_routes.groupby(['LineId', 'RouteId','StopId']).agg({"OrderInRoute": [lambda x: x.iloc[-1]], "DistanceToFirstStop": [lambda x: x.iloc[-1]]})

                      OrderInRoute DistanceToFirstStop
                          <lambda>            <lambda>
LineId RouteId StopId
1      11      26                0            0.000000
               51               12            6.152774
               53               11            5.298000
               56               10            5.005240
               84                9            4.046293
...                            ...                 ...
464    12      2296             13            3.307455
               2298             14            3.569465
               2300             15            4.027790
               2302             17            5.748677
               2303             12            3.108245

[15316 rows x 2 columns]

In [ ]:
stops_routes = stops_routes.groupby([LineId', 'RouteId','StopId']).agg()

In [23]:
'''# Exporto a csv

stop.to_csv('../data/topologia_lineas/stop.csv', sep=',', index=False)
fleet.to_csv('../data/topologia_lineas/fleet.csv', sep=',', index=False)
lines_version.to_csv('../data/topologia_lineas/lines_version.csv', sep=',', index=False)
stops_routes.to_csv('../data/topologia_lineas/stops_routes.csv', sep=',', index=False)
stops_version.to_csv('../data/topologia_lineas/stops_version.csv', sep=',', index=False)
lines.to_csv('../data/topologia_lineas/lines.csv', sep=',', index=False)
routes.to_csv('../data/topologia_lineas/routes.csv', sep=',', index=False)
vehicles.to_csv('../data/topologia_lineas/vehicles.csv', sep=',', index=False)
'''