In [32]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
# pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

import mysql.connector as conn
from sqlalchemy import create_engine

In [33]:
# Cargar lo que tengo dentro del .env

import os
from dotenv import load_dotenv
load_dotenv()

True

## Importo datos

In [34]:
# Importo todos los csv

stops = pd.read_csv('../data/red_transporte/stops.csv')
fleet = pd.read_csv('../data/red_transporte/fleet.csv')
stops_routes = pd.read_csv('../data/red_transporte/stops_routes.csv')
lines = pd.read_csv('../data/red_transporte/lines.csv')
routes = pd.read_csv('../data/red_transporte/routes.csv')
vehicles = pd.read_csv('../data/red_transporte/vehicles.csv')

## Crear base de datos (transport)

In [35]:
mysql = os.getenv("mysql")

In [36]:
# Conectar con el servidor

crea_db=conn.connect(host='localhost', user='root', passwd=mysql)

cursor=crea_db.cursor()


# str_conn='mysql+pymysql://root:'+mysql+'@localhost:3306'        # Para sqlalchemy
# motor=create_engine(str_conn)

In [37]:
# Crear base de datos

cursor.execute('drop database if exists transport_network;')
cursor.execute('create database transport_network;')

In [38]:

db=conn.connect(host='localhost', user='root', passwd=mysql, database='transport_network')

cursor=db.cursor()

#  str_conn='mysql+pymysql://root:'+mysql+'@localhost:3306/nba_stats'
# motor=create_engine(str_conn)

#### FLEETS

Lista de flotas configuradas en el sistema.

In [39]:
fleet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FleetId      2 non-null      int64
 1   FleetName    2 non-null      object
 2   FleetNumber  2 non-null      int64
dtypes: int64(2), object(1)
memory usage: 176.0+ bytes

In [40]:
# Crear tabla 'FLEETS'


cursor.execute('drop table if exists FLEETS;')

        
tabla='''

        create table FLEETS (
            
            FleetId int PRIMARY KEY NOT NULL,
            FleetName varchar(50),
            FleetNumber int

        );


'''

cursor.execute(tabla)

#### VEHICLES

Lista de vehículos configurados en el sistema.

In [41]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   VehicleId    567 non-null    int64
 1   VehicleCode  567 non-null    int64
 2   FleetId      567 non-null    int64
 3   Plate        567 non-null    object
 4   Model        567 non-null    object
dtypes: int64(3), object(2)
memory usage: 22.3+ KB

In [42]:
# Crear tabla 'VEHICLES'


cursor.execute('drop table if exists VEHICLES;')

        
tabla='''

        create table VEHICLES (
            
            VehicleId int PRIMARY KEY NOT NULL,
            VehicleCode int,
            FleetId int,
            Plate varchar(10),
            Model varchar(20),
            
            FOREIGN KEY (FleetId) REFERENCES FLEETS(FleetId)
        );


'''

cursor.execute(tabla)

#### LINES

Configuración de líneas de la topología actual.

In [43]:
lines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LineId      114 non-null    int64
 1   FleetId     114 non-null    int64
 2   PublicCode  114 non-null    object
 3   Name        114 non-null    object
dtypes: int64(2), object(2)
memory usage: 3.7+ KB

In [44]:
# Crear tabla 'LINEAS'


cursor.execute('drop table if exists LINEAS;')


tabla='''

        create table LINEAS (
            
            LineId int PRIMARY KEY NOT NULL,
            FleetId int,
            PublicCode varchar(5),
            Name varchar(55),
            
            FOREIGN KEY (FleetId) REFERENCES FLEETS(FleetId)
                        
        );

'''

cursor.execute(tabla)

#### STOPS

Histórico de configuraciones de paradas.

In [45]:
stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3797 entries, 0 to 3796
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StopId       3797 non-null   int64
 1   Name         3797 non-null   object
 2   ShortName    3797 non-null   int64
 3   Description  3797 non-null   object
 4   Latitude     3797 non-null   float64
 5   Longitude    3797 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 178.1+ KB

In [46]:
# Crear tabla 'STOPS'


cursor.execute('drop table if exists STOPS;')



tabla='''

        create table STOPS (
            
            StopId int PRIMARY KEY NOT NULL,
            Name varchar(50),
            ShortName int,            
            Description varchar(50),
            Latitude float,
            Longitude float

        );

'''

cursor.execute(tabla)

#### ROUTES

Configuración de trayectos de la topología actual.

In [47]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RutasId     518 non-null    int64
 1   RouteId     518 non-null    int64
 2   LineId      518 non-null    int64
 3   PublicCode  518 non-null    int64
 4   Name        518 non-null    object
 5   Direction   518 non-null    int64
dtypes: int64(5), object(1)
memory usage: 24.4+ KB

In [48]:
# Crear tabla 'ROUTES'


cursor.execute('drop table if exists ROUTES;')


tabla='''

        create table ROUTES(
            
            RutasId int PRIMARY KEY NOT NULL,
            RouteId int,
            LineId int,
            PublicCode int,
            Name varchar(55),
            Direction int,
            
            FOREIGN KEY (LineId) REFERENCES LINEAS(LineId)

                        
        );

'''

cursor.execute(tabla)

#### STOPS_ROUTES

Relación de paradas en trayecto

Tabla many to many entre 'Routes' y 'Stops'

In [29]:
stops_routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15316 entries, 0 to 15315
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LineId               15316 non-null  int64
 1   RouteId              15316 non-null  int64
 2   StopId               15316 non-null  int64
 3   OrderInRoute         15316 non-null  int64
 4   DistanceToFirstStop  15316 non-null  float64
 5   RutasId              15316 non-null  int64
dtypes: float64(1), int64(5)
memory usage: 718.1 KB

In [49]:
# Crear tabla 'STOPS_ROUTES'


cursor.execute('drop table if exists STOPS_ROUTES;')


tabla='''

        create table STOPS_ROUTES(
            
            LineId int,
            RouteId int, 
            StopId int,
            OrderInRoute int,
            DistanceToFirstStop float,
            RutasId int,
            
            FOREIGN KEY (StopId) REFERENCES STOPS(StopId),
            FOREIGN KEY (RutasId) REFERENCES ROUTES(RutasId)
                        
        );

'''

cursor.execute(tabla)

## Cargar datos a BD (transport)

In [50]:
#  insert into tabla (columnas) values (valores);

def insert(df, table):

    for i in range(len(df)):
        
        insert_query=f"insert into {table} ({','.join(df.columns)}) values {tuple(df.iloc[i].values)};"
    
        cursor.execute(insert_query)
    
    
    db.commit()
    print('Comiteado!')

In [51]:
# Cargo datos a 'FLEETS'

insert(fleet, 'FLEETS')

Comiteado!

In [52]:
# Cargo datos a 'VEHICLES'

insert(vehicles, 'VEHICLES')

Comiteado!

In [53]:
# Cargo datos a 'LINEAS'

insert(lines, 'LINEAS')

Comiteado!

In [54]:
# Cargo datos a 'STOPS'

insert(stops, 'STOPS')

Comiteado!

In [55]:
# Cargo datos a 'ROUTES'

insert(routes, 'ROUTES')

Comiteado!

In [56]:
# Cargo datos a 'STOPS_ROUTES'

insert(stops_routes, 'STOPS_ROUTES')

Comiteado!