In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
# pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

import mysql.connector as conn
from sqlalchemy import create_engine

In [2]:
# Cargar lo que tengo dentro del .env

import os
from dotenv import load_dotenv
load_dotenv()

True

## Importo datos

In [3]:
# Importo todos los csv

topologia2 = pd.read_csv('../data/pasajeros/topologia2.csv')
passenger_location2 = pd.read_csv('../data/pasajeros/passenger_location2.csv')

## Crear base de datos (transport)

In [4]:
mysql = os.getenv("mysql")

In [5]:

db=conn.connect(host='localhost', user='root', passwd=mysql, database='transport_network')

cursor=db.cursor()

#  str_conn='mysql+pymysql://root:'+mysql+'@localhost:3306/nba_stats'
# motor=create_engine(str_conn)

#### TOPOLOGIA

Red de transporte, joins de todo el estático

In [6]:
topologia2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2653 entries, 0 to 2652
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   route_code     2653 non-null   int64
 1   route_name     2653 non-null   object
 2   line_code      2653 non-null   int64
 3   line_name      2653 non-null   object
 4   stop_order     2653 non-null   int64
 5   stop_code      2653 non-null   int64
 6   stop_name      2653 non-null   object
 7   stop_code_int  2653 non-null   int64
 8   latitude       2653 non-null   float64
 9   longitude      2653 non-null   float64
dtypes: float64(2), int64(5), object(3)
memory usage: 207.4+ KB

In [7]:
# Crear tabla 'TOPOLOGY2'


cursor.execute('drop table if exists TOPOLOGY2;')

        
tabla='''

        create table TOPOLOGY2 (
            
            route_code int, 
            route_name varchar(55),
            line_code int,
            line_name varchar(55),
            stop_order int, 
            stop_code int, 
            stop_name varchar(55),
            stop_code_int int, 
            latitude varchar(55),
            longitude varchar(55)

        );


'''

cursor.execute(tabla)

#### PASSENGER_LOCATION2

Localizaciones de las entradas en cada parada

In [8]:
passenger_location2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461650 entries, 0 to 1461649
Data columns (total 17 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1461650 non-null  object
 1   bus             1461650 non-null  int64
 2   machine         1461650 non-null  int64
 3   driver          1461650 non-null  int64
 4   settlement      1461650 non-null  object
 5   ticket_number   1461650 non-null  object
 6   operation       1461650 non-null  object
 7   operation_type  1461650 non-null  object
 8   fare            1461650 non-null  float64
 9   route_code      1461650 non-null  int64
 10  route_name      1461650 non-null  object
 11  line_code       1461650 non-null  int64
 12  line_name       1461650 non-null  object
 13  stop_code       1461650 non-null  int64
 14  stop_name       1461650 non-null  object
 15  latitude        1461650 non-null  float64
 16  longitude       1461650 non-null  float64
dtypes: float64(3), int64(6), object(8)
memory usage: 189.6+ MB

In [9]:
# Crear tabla 'PASSENGER_LOCATION2'


cursor.execute('drop table if exists PASSENGER_LOCATION2;')


tabla='''

        create table PASSENGER_LOCATION2 (
            
            date datetime, 
            bus int,  
            machine int,  
            driver int,  
            settlement varchar(55), 
            ticket_number varchar(55), 
            operation varchar(55), 
            operation_type varchar(55), 
            fare float,
            route_code int,  
            route_name varchar(55), 
            line_code int,  
            line_name varchar(55), 
            stop_code int,  
            stop_name varchar(55),   
            latitude varchar(55), 
            longitude varchar(55)
                        
        );

'''

cursor.execute(tabla)

## Cargar datos a BD (transport)

In [10]:
#  insert into tabla (columnas) values (valores);

def insert(df, table):

    for i in range(len(df)):
        
        insert_query=f"insert into {table} ({','.join(df.columns)}) values {tuple(df.iloc[i].values)};"
    
        cursor.execute(insert_query)
    
    
    db.commit()
    print('Comiteado!')

In [11]:
# Cargo datos a 'TOPOLOGY'

insert(topologia2, 'TOPOLOGY2')

Comiteado!

In [12]:
# Cargo datos a 'PASSENGER_LOCATION'

insert(passenger_location2, 'PASSENGER_LOCATION2')

Comiteado!