In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
# pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

import mysql.connector as conn
from sqlalchemy import create_engine

In [2]:
import mysql.connector as conn

In [3]:
import os
from dotenv import load_dotenv
load_dotenv() # Cargar lo que tengo dentro del .env

True

## Importo datos

In [4]:
# Importo todos los csv


games = pd.read_csv('../data/data_sql/games.csv')
games_detail = pd.read_csv('../data/data_sql/games_detail.csv')
teams = pd.read_csv('../data/data_sql/teams.csv')
cities = pd.read_csv('../data/data_sql/cities.csv')

## Crear base de datos (transport)

In [5]:
mysql = os.getenv("mysql")

In [6]:
# Conectar con el servidor

crea_db=conn.connect(host='localhost', user='root', passwd=mysql)

cursor=crea_db.cursor()



# str_conn='mysql+pymysql://root:'+mysql+'@localhost:3306'        # Para sqlalchemy
# motor=create_engine(str_conn)

In [7]:
# Crear base de datos

cursor.execute('drop database if exists transport;')
cursor.execute('create database transport;')

In [8]:

db=conn.connect(host='localhost', user='root', passwd=mysql, database='transport')

cursor=db.cursor()

#  str_conn='mysql+pymysql://root:'+mysql+'@localhost:3306/nba_stats'
# motor=create_engine(str_conn)

#### STOPS_VERSION

Configuraciones topológicas de líneas y trayectos y sus fechas de activación.

In [ ]:
# Crear tabla 'STOPS_VERSION'


cursor.execute('drop table if exists STOPS_VERSION;')



tabla='''

        create STOPS_VERSION (
            
            StopsVersion int PRIMARY KEY NOT NULL,
            ActivationDate datetime

        );

'''

cursor.execute(tabla)

#### STOPS

Histórico de configuraciones de paradas.

In [ ]:
# Crear tabla 'STOPS'


cursor.execute('drop table if exists STOPS;')



tabla='''

        create STOPS (
            
            StopsVersion int,
            STOPS int PRIMARY KEY NOT NULL,
            Name varchar(50),
            ShortName varchar(50),            
            Description varchar(50),
            Latitude float,     -- double
            Longitude float
            
            FOREIGN KEY (StopsVersion) REFERENCES STOPS_VERSION(StopsVersion)

        );

'''

cursor.execute(tabla)

#### STOPS_ROUTES

Relación de paradas en trayecto

Tabla many to many entre 'Routes' y 'Stops'

In [ ]:
# Crear tabla 'STOPS_ROUTES'


cursor.execute('drop table if exists STOPS_ROUTES;')


tabla='''

        create STOPS_ROUTES(
            
            StopsRoutesVersion int,
            RouteId int 
            RouteId int,
            OrderInRoute int,
            StopId int,
            DistanceToFirstStop float,
            
            FOREIGN KEY (StopId) REFERENCES STOPS(StopId),
            FOREIGN KEY (RouteId) REFERENCES ROUTES(RouteId)
                        
        );

'''

cursor.execute(tabla)

#### ROUTES

Configuración de trayectos de la topología actual.

In [ ]:
# Crear tabla 'ROUTES'


cursor.execute('drop table if exists ROUTES;')


tabla='''

        create ROUTES(
            
            RoutesVersion int,
            RouteId int PRIMARY KEY NOT NULL,
            LineId int,
            PublicCode varchar(10),
            Name varchar(55),
            Direction int,
            
            FOREIGN KEY (RoutesVersion) REFERENCES LINES_VERSION(RoutesVersion)

                        
        );

'''

cursor.execute(tabla)

#### LINES

Configuración de líneas de la topología actual.

In [ ]:
# Crear tabla 'LINES'


cursor.execute('drop table if exists LINES;')


tabla='''

        create LINES(
            
            LinesVersion int,
            LineId int PRIMARY KEY NOT NULL,
            FleetId int,
            PublicCode varchar(5),
            Name varchar(55),
            
            FOREIGN KEY (LinesVersion) REFERENCES LINES_VERSION(LinesVersion),
            FOREIGN KEY (FleetId) REFERENCES LINES_VERSION(FleetId)
                        
        );

'''

cursor.execute(tabla)

#### LINES-VERSIONS

Configuraciones topológicas de líneas y trayectos y sus fechas de activación.

In [9]:
# Crear tabla 'LINES_VERSION'


cursor.execute('drop table if exists LINES_VERSION;')



tabla='''

        create LINES_VERSION (
            
            FleetId int,
            LinesVersion int,
            RoutesVersion int, 
            StopsRoutesVersion int,
            ActivationDate datetime,


        );

'''

cursor.execute(tabla)

#### LINES

In [ ]:
# Crear tabla 'LINES'


cursor.execute('drop table if exists LINES;')



tabla='''

        create LINES (
            
            LinesVersion int,
            LineId int,
            FleetId: int, 
            PublicCode varchar(5),
            Name varchar (55)
            
            FOREIGN KEY (LinesVersion) REFERENCES LINES(LinesVersion)
            FOREIGN KEY (RoutesVersion) REFERENCES ROUTES(RoutesVersion)

        );

'''

cursor.execute(tabla)

In [10]:
# Crear tabla 'teams'


cursor.execute('drop table if exists teams;')



tabla='''

        create table teams (

        team_id  int PRIMARY KEY NOT NULL,
        city_id int,
        city  varchar(50), 
        league_id int,
        min_year int,  
        max_year int,  
        abbreviation varchar(50),
        nickname varchar(50),
        yearfounded int,
        arena varchar(50),
        arenacapacity float,
        owner varchar(50),
        generalmanager varchar(50),
        headcoach varchar(50),
        dleagueaffiliation varchar(50),

        FOREIGN KEY (city_id) REFERENCES cities(city_id)

        );

'''
cursor.execute(tabla)

In [11]:
# Crear tabla 'games'

cursor.execute('drop table if exists games;')



tabla='''

        create table games (

                game_id int PRIMARY KEY NOT NULL,
                game_date_est datetime,
                season int,
                team_id_home int, 
                pts_home float,
                fg_pct_home float,
                ft_pct_home float,
                fg3_pct_home float,
                ast_home float,
                reb_home float,
                team_id_away int,  
                pts_away float,
                fg_pct_away float,
                ft_pct_away float,
                fg3_pct_away float,
                ast_away float,
                reb_away float,
                home_team_id int,
                visitor_team_id int,
                home_team_wins int    
        
        );

'''
cursor.execute(tabla)

In [12]:
# Crear tabla 'games_details'

cursor.execute('drop table if exists games_details;')

tabla='''

        create table games_details (
  
            games_detail_id int PRIMARY KEY NOT NULL,                
            game_id int,
            team_id int,
            team_abbreviation varchar(50),
            team_city varchar(50),
            player_id int,
            player_name varchar(50),
            min float,
            fgm float,
            fga float,
            fg_pct float,
            fg3m float,
            fg3a float,
            fg3_pct float,
            ftm float,
            fta float,
            ft_pct float,
            oreb float,
            dreb float,
            reb float,
            ast float,
            stl float,
            blk float,
            turn float,
            pf float,
            pts float,
            plus_minus float,
            
            position varchar(50), 
            height_cm float,
            weight_kg float,
                         
            FOREIGN KEY (game_id) REFERENCES games(game_id),
            FOREIGN KEY (team_id) REFERENCES teams(team_id)
        
        );

'''
cursor.execute(tabla)

In [13]:
games_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540350 entries, 0 to 540349
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   player_name        540350 non-null  object
 1   game_id            540350 non-null  int64
 2   team_id            540350 non-null  int64
 3   team_abbreviation  540350 non-null  object
 4   team_city          540350 non-null  object
 5   player_id          540350 non-null  int64
 6   min                540350 non-null  float64
 7   fgm                540350 non-null  float64
 8   fga                540350 non-null  float64
 9   fg_pct             540350 non-null  float64
 10  fg3m               540350 non-null  float64
 11  fg3a               540350 non-null  float64
 12  fg3_pct            540350 non-null  float64
 13  ftm                540350 non-null  float64
 14  fta                540350 non-null  float64
 15  ft_pct             540350 non-null  float64
 16  oreb               540350 non-null  float64
 17  dreb               540350 non-null  float64
 18  reb                540350 non-null  float64
 19  ast                540350 non-null  float64
 20  stl                540350 non-null  float64
 21  blk                540350 non-null  float64
 22  turn               540350 non-null  float64
 23  pf                 540350 non-null  float64
 24  pts                540350 non-null  float64
 25  plus_minus         540350 non-null  float64
 26  games_detail_id    540350 non-null  int64
 27  position           540350 non-null  object
 28  height_cm          540350 non-null  float64
 29  weight_kg          540350 non-null  float64
dtypes: float64(22), int64(4), object(4)
memory usage: 123.7+ MB

In [14]:
#  insert into tabla (columnas) values (valores);

def insert(df, table):

    for i in range(len(df)):
        
        insert_query=f"insert into {table} ({','.join(df.columns)}) values {tuple(df.iloc[i].values)};"
    
        cursor.execute(insert_query)
    
    
    db.commit()
    print('Comiteado!')

In [15]:
# Cargo datos a 'games'

insert(games, 'games')

Comiteado!

In [16]:
# Cargo datos a 'cities'

insert(cities, 'cities')

Comiteado!

In [17]:
# Cargo datos a 'teams'

insert(teams, 'teams')

Comiteado!

In [18]:
# Cargo datos a 'games_detail' - REVISAR LOS FOREINGS KEYS

insert(games_detail, 'games_details')

Comiteado!