In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
# pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

import mysql.connector as conn
from sqlalchemy import create_engine

In [2]:
import mysql.connector as conn

In [3]:
import os
from dotenv import load_dotenv
load_dotenv() # Cargar lo que tengo dentro del .env

True

## Importo datos

In [4]:
# Importo todos los csv


games = pd.read_csv('../data/data_sql/games.csv')
games_detail = pd.read_csv('../data/data_sql/games_detail.csv')
teams = pd.read_csv('../data/data_sql/teams.csv')
cities = pd.read_csv('../data/data_sql/cities.csv')

## Crear base de datos (transport)

In [5]:
mysql = os.getenv("mysql")

In [6]:
# Conectar con el servidor

crea_db=conn.connect(host='localhost', user='root', passwd=mysql)

cursor=crea_db.cursor()



# str_conn='mysql+pymysql://root:'+mysql+'@localhost:3306'        # Para sqlalchemy
# motor=create_engine(str_conn)

In [7]:
# Crear base de datos

cursor.execute('drop database if exists transport;')
cursor.execute('create database transport;')

In [8]:

db=conn.connect(host='localhost', user='root', passwd=mysql, database='transport')

cursor=db.cursor()

#  str_conn='mysql+pymysql://root:'+mysql+'@localhost:3306/nba_stats'
# motor=create_engine(str_conn)

#### STOPS_VERSION

Configuraciones topológicas de líneas y trayectos y sus fechas de activación.

In [ ]:
# Crear tabla 'STOPS_VERSION'


cursor.execute('drop table if exists STOPS_VERSION;')



tabla='''

        create STOPS_VERSION (
            
            StopsVersion int PRIMARY KEY NOT NULL,
            ActivationDate datetime

        );

'''

cursor.execute(tabla)

#### STOPS

Histórico de configuraciones de paradas.

In [ ]:
# Crear tabla 'STOPS'


cursor.execute('drop table if exists STOPS;')



tabla='''

        create STOPS (
            
            StopsVersion int,
            STOPS int PRIMARY KEY NOT NULL,
            Name varchar(50),
            ShortName varchar(50),            
            Description varchar(50),
            Latitude float,     -- double
            Longitude float
            
            FOREIGN KEY (StopsVersion) REFERENCES STOPS_VERSION(StopsVersion)

        );

'''

cursor.execute(tabla)

#### STOPS_ROUTES

Relación de paradas en trayecto

Tabla many to many entre 'Routes' y 'Stops'

In [ ]:
# Crear tabla 'STOPS_ROUTES'


cursor.execute('drop table if exists STOPS_ROUTES;')


tabla='''

        create STOPS_ROUTES(
            
            StopsRoutesVersion int,
            RouteId int 
            RouteId int,
            OrderInRoute int,
            StopId int,
            DistanceToFirstStop float,
            
            FOREIGN KEY (StopId) REFERENCES STOPS(StopId),
            FOREIGN KEY (RouteId) REFERENCES ROUTES(RouteId)
                        
        );

'''

cursor.execute(tabla)

#### ROUTES

Configuración de trayectos de la topología actual.

In [ ]:
# Crear tabla 'ROUTES'


cursor.execute('drop table if exists ROUTES;')


tabla='''

        create ROUTES(
            
            RoutesVersion int,
            RouteId int PRIMARY KEY NOT NULL,
            LineId int,
            PublicCode varchar(10),
            Name varchar(55),
            Direction int,
            
            FOREIGN KEY (RoutesVersion) REFERENCES LINES_VERSION(RoutesVersion)

                        
        );

'''

cursor.execute(tabla)

#### LINES

Configuración de líneas de la topología actual.

In [ ]:
# Crear tabla 'LINES'


cursor.execute('drop table if exists LINES;')


tabla='''

        create LINES(
            
            LinesVersion int,
            LineId int PRIMARY KEY NOT NULL,
            FleetId int,
            PublicCode varchar(5),
            Name varchar(55),
            
            FOREIGN KEY (LinesVersion) REFERENCES LINES_VERSION(LinesVersion),
            FOREIGN KEY (FleetId) REFERENCES LINES_VERSION(FleetId)
                        
        );

'''

cursor.execute(tabla)

#### LINES-VERSIONS

Configuraciones topológicas de líneas y trayectos y sus fechas de activación.

**REVISAR PRIMARY Y RELACIONES CON LINES Y ROUTES**

In [ ]:
# Crear tabla 'LINES_VERSION'


cursor.execute('drop table if exists LINES_VERSION;')


tabla='''

        create LINES_VERSION(
            
            FleetId int,
            LinesVersion int PRIMARY KEY NOT NULL,
            RoutesVersion int,
            StopsRoutesVersion int,
            ActivationDate datatime
                               
        );

'''

cursor.execute(tabla)

## Cargar datos a BD (transport)

In [14]:
#  insert into tabla (columnas) values (valores);

def insert(df, table):

    for i in range(len(df)):
        
        insert_query=f"insert into {table} ({','.join(df.columns)}) values {tuple(df.iloc[i].values)};"
    
        cursor.execute(insert_query)
    
    
    db.commit()
    print('Comiteado!')

In [15]:
# Cargo datos a 'STOPS_VERSION'

insert(STOPS_VERSION, 'STOPS_VERSION')

Comiteado!

In [16]:
# Cargo datos a 'STOPS'

insert(STOPS, 'STOPS')

Comiteado!

In [17]:
# Cargo datos a 'STOPS_ROUTES'

insert(STOPS_ROUTES, 'STOPS_ROUTES')

Comiteado!

In [18]:
# Cargo datos a 'ROUTES'

insert(ROUTES, 'ROUTES')

Comiteado!

In [ ]:
# Cargo datos a 'games_detail'

insert(LINES, 'LINES')

In [ ]:
# Cargo datos a 'ROUTES'

insert(ROUTES, 'ROUTES')

In [ ]:
# Cargo datos a 'LINES_VERSION'

insert(LINES_VERSION, 'LINES_VERSION')