In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
#pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

In [2]:
# Leo archivos

topologia2 = pd.read_csv('../data/pasajeros/topologia2.csv')
passengers = pd.read_csv('../data/pasajeros/passengers.csv')

In [3]:
topologia2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2653 entries, 0 to 2652
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   route_code     2653 non-null   int64
 1   route_name     2653 non-null   object
 2   line_code      2653 non-null   int64
 3   line_name      2653 non-null   object
 4   stop_order     2653 non-null   int64
 5   stop_code      2653 non-null   int64
 6   stop_name      2653 non-null   object
 7   stop_code_int  2653 non-null   int64
 8   latitude       2653 non-null   float64
 9   longitude      2653 non-null   float64
dtypes: float64(2), int64(5), object(3)
memory usage: 207.4+ KB

## Topologia 2

In [4]:
# Agrupo por 'route_code', 'line_code'

df = topologia2.groupby(['route_code', 'line_code']).agg({'route_name': [lambda x:x.value_counts().index[0]], 'line_name':[lambda x:x.value_counts().index[0]]})

In [5]:
# Renombro las columnas 

lista=[]
for i in range(len(df.columns)):
    lista.append(df.columns[i][0])
df.columns= lista

In [6]:
# Reseteo el indice

df.reset_index(inplace=True)

In [7]:
# Agrupo por 'stop_code'

df1 = topologia2.groupby(['stop_code']).agg({'stop_name': [lambda x:x.value_counts().index[0]], 'latitude':[lambda x:x.value_counts().index[0]], 'longitude':[lambda x:x.value_counts().index[0]]})

In [8]:
# Renombro las columnas

lista=[]
for i in range(len(df1.columns)):
    lista.append(df1.columns[i][0])
df1.columns= lista

In [9]:
# Reseteo el indice

df1.reset_index(inplace=True)

## Passenger_location2

In [10]:
# Join entre passengers y df para introducir 'route_name', 'line_name'

passenger_location2 = passengers.set_index(['route_code', 'line_code']).join(df[['route_code', 'line_code', 'route_name', 'line_name']].set_index(['route_code', 'line_code']))

In [11]:
# Reseteo el indice

passenger_location2.reset_index(inplace=True)

In [12]:
# Join entre passenger_location2 y df para introducir 'stop_name', 'latitude', 'longitude'

passenger_location2 = passenger_location2.set_index(['stop_code']).join(df1[['stop_code', 'stop_name','latitude', 'longitude']].set_index(['stop_code']))

In [13]:
# Reseteo el indice

passenger_location2.reset_index(inplace=True)

In [14]:
# Ordeno las columnas

column_names2 = ["date", "bus", "machine", "driver", "settlement", "ticket_number", "operation", "operation_type", "fare", "route_code","route_name", "line_code", "line_name", "stop_code", "stop_name", "latitude", "longitude"]

passenger_location2 = passenger_location2.reindex(columns=column_names2)

In [15]:
# Convierto a csv los pasajeros

passenger_location2.to_csv('../data/pasajeros/passenger_location2.csv', sep=',', index=False)

**Revisar cuando tenga mas tiempo, las lineas 400 y 306**

Ver como puedo modificar añadir el el nombre de linea y routa

In [25]:
# Relleno la columna de line_name y route_name de la Route 38 

passenger_location2.line_name[(passenger_location2.route_code==38) & (passenger_location2.line_code == 104)] = passenger_location2.line_name[(passenger_location2.route_code==38) & (passenger_location2.line_code == 104)].fillna('BAB EL HAD-TAMESSNA')

passenger_location2.line_name[(passenger_location2.route_code==38) & (passenger_location2.line_code == 203)] = passenger_location2.line_name[(passenger_location2.route_code==38) & (passenger_location2.line_code == 203)].fillna('TAMESSNA-BAB EL HAD')

passenger_location2.line_name[(passenger_location2.route_code==38) & (passenger_location2.line_code == 204)] = passenger_location2.line_name[(passenger_location2.route_code==38) & (passenger_location2.line_code == 204)].fillna('TAMESSNA-BAB EL HAD')

passenger_location2.route_name[(passenger_location2.route_code==38)] = passenger_location2.route_name[(passenger_location2.route_code==38)].fillna('L38')

In [27]:
# Relleno la columna de line_name y route_name de la Route 400 and line 201

passenger_location2.line_name[(passenger_location2.route_code==400) & (passenger_location2.line_code == 201)]=passenger_location2.line_name[(passenger_location2.route_code==400) & (passenger_location2.line_code == 201)].fillna('GARE AGDAL-AEROPORT')

passenger_location2.route_name[(passenger_location2.route_code==400)]=passenger_location2.route_name[(passenger_location2.route_code==400)].fillna('AE')

In [ ]:
'''# Relleno la columna de line_name y route_name de la Route 306

passenger_location2[(passenger_location2.route_code==306) & (passenger_location2.line_code == 102)].line_name.fillna('')

passenger_location2[(passenger_location2.route_code==306) & (passenger_location2.line_code == 202)].line_name.fillna('')

passenger_location2[(passenger_location2.route_code==306)].route_name.fillna('')'''

In [ ]:
topologia = topologia.astype({"latitude": object, "longitude": object})

In [41]:
# Modifico el dataset en el que elimino todas las filas con algún datos nulos


passenger_location2 = passenger_location2[passenger_location2[['route_name', 'line_name', 'stop_name', 'latitude', 'longitude']].notnull().all(axis=1)]

In [43]:
passenger_location2 = passenger_location2.astype({"latitude": object, "longitude": object})

In [45]:
# Convierto a csv los pasajeros

passenger_location2.to_csv('../data/pasajeros/passenger_location2.csv', sep=',', index=False)

In [46]:
passenger_location2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1461650 entries, 187 to 1480810
Data columns (total 17 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1461650 non-null  object
 1   bus             1461650 non-null  int64
 2   machine         1461650 non-null  int64
 3   driver          1461650 non-null  int64
 4   settlement      1461650 non-null  object
 5   ticket_number   1461650 non-null  object
 6   operation       1461650 non-null  object
 7   operation_type  1461650 non-null  object
 8   fare            1461650 non-null  float64
 9   route_code      1461650 non-null  int64
 10  route_name      1461650 non-null  object
 11  line_code       1461650 non-null  int64
 12  line_name       1461650 non-null  object
 13  stop_code       1461650 non-null  int64
 14  stop_name       1461650 non-null  object
 15  latitude        1461650 non-null  object
 16  longitude       1461650 non-null  object
dtypes: float64(1), int64(6), object(10)
memory usage: 200.7+ MB