In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
#pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

In [2]:
# Leo archivos

topologia2 = pd.read_csv('../data/pasajeros/topologia2.csv')
passengers = pd.read_csv('../data/pasajeros/passengers.csv')

In [3]:
topologia2.head()

,route_code,route_name,line_code,line_name,stop_order,stop_code,stop_name,stop_code_int,latitude,longitude
0,1,L1,103,BAB CHALLEH-DOHA,1,10005,Bab Chellah,73006,34.023298,-6.834576
1,1,L1,103,BAB CHALLEH-DOHA,2,10007,Bab Mellah,73008,34.025001,-6.829615
2,1,L1,103,BAB CHALLEH-DOHA,3,10044,Bab Khmiss,73046,34.036633,-6.817232
3,1,L1,103,BAB CHALLEH-DOHA,4,10046,Diar,73048,34.041434,-6.816444
4,1,L1,103,BAB CHALLEH-DOHA,5,10048,Mkinsiya,73050,34.044136,-6.817705

In [9]:
df = topologia2.groupby(['route_code', 'route_code']).agg({'route_name': [lambda x:x.value_counts().index[0]], 'line_name':[lambda x:x.value_counts().index[0]]})

In [16]:
lista=[]
for i in range(len(df.columns)):
    lista.append(df.columns[i][0])
df.columns= lista

In [19]:
df1 = topologia2.groupby(['stop_code']).agg({'stop_name': [lambda x:x.value_counts().index[0]], 'latitude':[lambda x:x.value_counts().index[0]], 'longitude':[lambda x:x.value_counts().index[0]]})

In [21]:
lista=[]
for i in range(len(df1.columns)):
    lista.append(df1.columns[i][0])
df1.columns= lista

In [22]:
df1

                         stop_name   latitude  longitude
stop_code
10005                  Bab Chellah  34.023298  -6.834576
10007                   Bab Mellah  34.025001  -6.829615
10008                        HAWAT  34.068100  -6.761022
10013                   Douar Jdid  34.046790  -6.791648
10015             Gare Rabat Agdal  34.001780  -6.859507
...                            ...        ...        ...
12227      Residence Al Firdaous-V  33.918830  -6.896737
12228                    TAMESNA 1  33.830810  -6.914443
12229                  TAMESNA 1-V  33.830998  -6.914539
12230                  Skhirat 1-V  33.829644  -7.075508
12231        AV. ABDLKRIM KHTABI-V  33.902749  -6.924687

[1264 rows x 3 columns]